<mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="assets/img/Bobby et Maroni.jpg" height="50" width="50">
  <span  class="Titre_Muta"></span>
  <h1>Bienvenue sur MutaMobile</h1>
 
  <span class="example-fill-remaining-space"></span>
    </mat-toolbar-row>
</mat-toolbar>


<mat-card class="cadre_image">
    <mat-card-title>Jouer et Gagner avec MutaMobile</mat-card-title>
  <mat-card-header>
  </mat-card-header>

  <mat-carousel class="slide_cadre">
    <mat-carousel-slide >
      <img mat-card-image src="assets/img/Bobby et Maroni.jpg" alt="Photo" class="image_slide">
      
    </mat-carousel-slide>
    <mat-carousel-slide >
      <img mat-card-image src="assets/img/reunion974.jpg" alt="Photo"  >
  
    </mat-carousel-slide>
  </mat-carousel>
  <mat-card-actions>
      <button mat-button class="bouton_participer">Participer</button>
    </mat-card-actions>
  <mat-card-content>
    <p class="description_jeu">
      Tenter de remporter un séjour en Afrique du Sud avec Muta Voyages
    </p>
  </mat-card-content>


</mat-card> 

<mat-toolbar color="accent" >
<mat-toolbar-row>
  <span>Mutualité de la Réunion</span>
  <span class="menu_pied"></span>
  <h1>Contact</h1>
  <span class="menu_pied"></span>

  <h1>Le Site de la Mutualité</h1>

  <span class="menu_pied"></span>
  <h1>Mentions légales</h1>
</mat-toolbar-row>
  


    
</mat-toolbar>

